doctype html
// Complete Email template
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
table(align='center' border='0' cellpadding='0' cellspacing='0' width='550' bgcolor='white')
  tbody
    tr
      td(height='70px' align='center')
        img(src='https://png.pngtree.com/png-clipart/20190520/original/pngtree-hotel-icon-png-image_3570106.jpg' alt='' srcset='' style='outline:none;text-decoration:none;clear:both;display:inline-block!important;border:none;height:auto;float:none;width:32%;max-width:130.2px')
    tr(style='background-color: #4cb96b')
      td(align='center')
        table.col-550(align='center' border='0' cellpadding='0' cellspacing='0' width='550')
          tbody
            tr
              td(align='center' style='background-color: #4cb96b;\
              height: 50px;')
                a(href='#' style='text-decoration: none;')
                  p(style='color:white;\
                  font-weight:bold;')
                    | Welcome to Hotel Booking
                    br
                    
    tr(style='height: 100px;')
      td(style='height: 10px;\
      padding: 0px;\
      border: none;\
      background-color: white;')
       
        p(style='font-weight: bolder;font-size: 15px;\
        letter-spacing: 0.025em;\
        text-align:center;\
        color:black;') Contact Us info: 
        br
        p(style='font-weight: bolder;font-size: 15px;\
        letter-spacing: 0.025em;\
        text-align:center;\
        color:black;') sender name: #{name}
        p(style='font-weight: bolder;font-size: 15px;\
        letter-spacing: 0.025em;\
        text-align:center;\
        color:black;') sender phone: #{phone}
        p(style='font-weight: bolder;font-size: 15px;\
        letter-spacing: 0.025em;\
        text-align:center;\
        color:black;') subject: #{subject}
        p(style='font-weight: bolder;font-size: 15px;\
        letter-spacing: 0.025em;\
        text-align:center;\
        color:black;') message: #{message}
        
    tr(style='display: inline-block;')
      td(style='height: 0px;\
      padding: 0px;\
      border: none;\
      background-color: white;')
    tr(style='border: none;\
    background-color: #4cb96b;\
    height: 0px;\
    color:white;\
    margin-top: 10px;\
    text-align: center;')

      td(height='0px' align='center')
        p(style='color:white;\
        line-height: 1.5em;')
          | Get in touch
        a(href='#' style='border:none;\
        text-decoration: none;\
        padding: 5px;')
          img(height='30' src='https://extraaedgeresources.blob.core.windows.net/demo/salesdemo/EmailAttachments/icon-twitter_20190610074030.png' width='30')
        a(href='#' style='border:none;\
        text-decoration: none;\
        padding: 5px;')
          img(height='30' src='https://extraaedgeresources.blob.core.windows.net/demo/salesdemo/EmailAttachments/icon-linkedin_20190610074015.png' width='30')
        a(href='#' style='border:none;\
        text-decoration: none;\
        padding: 5px;')
          img(height='20' src='https://extraaedgeresources.blob.core.windows.net/demo/salesdemo/EmailAttachments/facebook-letter-logo_20190610100050.png' width='24' style='position: relative;\
          padding-bottom: 5px;')
    tr
      td(style="font-family:'Open Sans', Arial, sans-serif;\
      font-size:11px; line-height:18px;\
      color:#999999;" valign='top' align='center')
        b(style='font-size: 10px;\
        letter-spacing: 0.025em;\
        text-align:center;\
        color:black;') Phone: +91 9876543210 
        br
        b(style='font-weight: bolder;font-size: 10px;\
        letter-spacing: 0.025em;\
        text-align:center;\
        color:black;')  E-mail: 
        a(href='mailto:inquiry@hotelbooking.com') inquiry@hotelbooking.com
        br
        b(style='font-size: 10px;\
        letter-spacing: 0.025em;\
        text-align:center;\
        color:black;') PRIVACY STATEMENT |
        a(href='#' target='_blank' style='color:#999999;\
        text-decoration:underline;') 
        | &#x9;&#x9;
        b(style='font-size: 10px;\
        letter-spacing: 0.025em;\
        text-align:center;\
        color:black;') TERMS OF SERVICE |
        a(href='#' target='_blank' style='color:#999999; text-decoration:underline;')
        | &#x9;&#x9;
        b(style='font-size: 10px;\
        letter-spacing: 0.025em;\
        text-align:center;\
        color:black;') RETURNS
        a(href='#' target='_blank' style='color:#999999; text-decoration:underline;') 
        br
        b(style='font-weight: bolder;font-size: 10px;\
        letter-spacing: 0.025em;\
        text-align:center;\
        color:black;') ©2022 Hotel Booking. All Rights Reserved.
        | &#x9;&#x9;&#x9;&#x9; 
        br
tr
  td.em_hide(style='line-height:1px;\
  min-width:700px;\
  background-color:#ffffff;')
    img(alt='' src='images/spacer.gif' style='max-height:1px;\
    min-height:1px;\
    display:block;\
    width:700px;\
    min-width:700px;' width='700' border='0' height='1')
