body {
    display: inline;
    background-color: rgb(184, 233, 248);
    border-radius: 10px;
    margin-right: 30%;
    /* margin-left: 10%; */
}
.emailBody{
    background-color: rgb(244, 248, 252);
    margin-inline: 20% 20%;
    /* padding: 10px 10px 0px 10px; */
    margin-top: 5%;
    border-radius: 15px;
}

h4 {
    font-size: large;
    color: rgb(134, 134, 241);
    margin-left: 40%;
    margin-right: 30%;
    justify-content: center;
}
h3{
    margin-left: 30%;
    margin-right: 20%;
}
p {
    margin-left: 30%;
    font-size: medium;
    font-style:normal;
}
.contact{
    margin-left: 30%;
}
.social{
    margin-left: 30%;
}
img {
    height: 150px;
    width: 200px;
    border-radius: 5px;
    margin-left: 40%;
}
button{
    height: auto;
}

